In [1]:
from sqlalchemy import create_engine
import csv
import sqlite3
import pandas as pd
from pathlib import Path
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [2]:
clean = pd.read_csv('covid_19_clean_complete.csv', header = 0)
worldometer = pd.read_csv('worldometer_data.csv', header = 0)
usa_country = pd.read_csv('usa_county_wise.csv', header = 0)
full_grouped = pd.read_csv('full_grouped.csv', header = 0)
day_wise = pd.read_csv('day_wise.csv', header = 0)
country_wise = pd.read_csv('country_wise_latest.csv', header = 0)

In [3]:
clean = clean.rename(columns = {'Province/State':'State_Province','Country/Region':'Country_Region'})
worldometer = worldometer.rename(columns = {'Country/Region':'Country_Region','Tot Cases/1M pop':'Tot_Cases_per_1M_pop','Deaths/1M pop':'Deaths_per_1M_pop',
                                           'Tests/1M pop':'Tests_per_1M_pop','Serious,Critical':'Serious_Critical','WHO Region':'WHO_Region'})
day_wise = day_wise.rename(columns = {'Deaths / 100 Cases':'Deaths_per_100_Cases','Recovered / 100 Cases':'Recovered_per_100_Cases',
                                     'Deaths / 100 Recovered':'Deaths_per_100_Recovered'})
country_wise = country_wise.rename(columns = {'Country/Region':'Country_Region','Deaths / 100 Cases':'Deaths_per_100_Cases','Recovered / 100 Cases':'Recovered_per_100_Cases',
                                     'Deaths / 100 Recovered':'Deaths_per_100_Recovered'})
full_grouped = full_grouped.rename(columns = {'Country/Region':'Country_Region','New cases':'New_cases','New deaths':'New_deaths','New recovered':'New_recovered','WHO Region':'WHO_Region'})

In [4]:
full_grouped.head()

,Date,Country_Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,WHO_Region
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0,Eastern Mediterranean
1,2020-01-22,Albania,0,0,0,0,0,0,0,Europe
2,2020-01-22,Algeria,0,0,0,0,0,0,0,Africa
3,2020-01-22,Andorra,0,0,0,0,0,0,0,Europe
4,2020-01-22,Angola,0,0,0,0,0,0,0,Africa

In [5]:
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [6]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [7]:
class fullgrouped (Base):
    __tablename__ ='fullgrouped'
    Id = Column(Integer, primary_key=True)
    Date = Column(String)
    Country_Region = Column(String)
    Confirmed = Column(String)
    Deaths = Column(Integer)
    Recovered = Column(Integer)
    Active = Column(Integer)
    New_cases = Column(Integer)
    New_deaths = Column(Integer)
    New_recovered = Column(Integer)
    WHO_Region = Column(String)

In [8]:
class countrywise (Base):
    __tablename__ = 'countrywise'
    id = Column(Integer, primary_key=True)
    Country_Region = Column(String)
    Confirmed  = Column(Integer)
    Deaths  = Column(Integer)
    Recovered = Column(Integer)
    UID  = Column(Integer)
    iso2 = Column(String)
    iso3 = Column(String)
    code3 = Column(Integer)
    FIPS = Column(Float)
    Admin2 = Column(String)
    Province_State = Column(String)
    
    Lat = Column(Float)
    Long_ = Column(Float)
    Combined_Key = Column(String) 
    Date = Column(String)

In [9]:
class usacountry (Base):
    __tablename__ = 'usacountry'
    id = Column(Integer, primary_key=True)
    UID  = Column(Integer)
    iso2 = Column(String)
    iso3 = Column(String)
    code3 = Column(Integer)
    FIPS = Column(Float)
    Admin2 = Column(String)
    Province_State = Column(String)
    Country_Region = Column(String)
    Lat = Column(Float)
    Long_ = Column(Float)
    Combined_Key = Column(String) 
    Date = Column(String)
    Confirmed  = Column(Integer)
    Deaths  = Column(Integer)

In [10]:
class clean (Base):
    __tablename__ = 'clean'
    id = Column(Integer, primary_key=True)
    Province_State = Column(String)
    Country_Region = Column(String)
    Lat = Column(Float)
    Long = Column(Float)
    Date = Column(String)
    Confirmed = Column(Integer)
    Deaths = Column(Integer)
    Recovered = Column(Integer)
    Active = Column(Integer)
    WHO_Region = Column(String)

In [11]:
class worldometer (Base):
    __tablename__ = 'worldometer'
    id = Column(Integer, primary_key=True)
    Country_Region = Column(String)
    Continent = Column(String)
    Population = Column(Integer)
    TotalCases = Column(Integer)
    NewCases  = Column(Integer)
    TotalDeaths  = Column(Integer)
    NewDeaths  = Column(Integer)
    TotalRecovered  = Column(Integer)
    NewRecovered  = Column(Integer)
    ActiveCases  = Column(Integer)
    Serious_Critical  = Column(Integer)
    Tot_Cases_per_1M_pop  = Column(Integer)
    Deaths_per_1M_pop  = Column(Integer)
    TotalTests  = Column(Integer)
    Tests_per_1M_pop  = Column(Integer)
    WHO_Region = Column(String)

In [12]:
engine = create_engine("sqlite:///clean.sqlite")
conn = engine.connect()

In [13]:
# Create tables within the database
Base.metadata.create_all(conn)

In [14]:
Base.metadata.tables

FacadeDict({'fullgrouped': Table('fullgrouped', MetaData(), Column('Id', Integer(), table=<fullgrouped>, primary_key=True, nullable=False), Column('Date', String(), table=<fullgrouped>), Column('Country_Region', String(), table=<fullgrouped>), Column('Confirmed', String(), table=<fullgrouped>), Column('Deaths', Integer(), table=<fullgrouped>), Column('Recovered', Integer(), table=<fullgrouped>), Column('Active', Integer(), table=<fullgrouped>), Column('New_cases', Integer(), table=<fullgrouped>), Column('New_deaths', Integer(), table=<fullgrouped>), Column('New_recovered', Integer(), table=<fullgrouped>), Column('WHO_Region', String(), table=<fullgrouped>), schema=None), 'countrywise': Table('countrywise', MetaData(), Column('id', Integer(), table=<countrywise>, primary_key=True, nullable=False), Column('Country_Region', String(), table=<countrywise>), Column('Confirmed', Integer(), table=<countrywise>), Column('Deaths', Integer(), table=<countrywise>), Column('Recovered', Integer(), table=<countrywise>), Column('UID', Integer(), table=<countrywise>), Column('iso2', String(), table=<countrywise>), Column('iso3', String(), table=<countrywise>), Column('code3', Integer(), table=<countrywise>), Column('FIPS', Float(), table=<countrywise>), Column('Admin2', String(), table=<countrywise>), Column('Province_State', String(), table=<countrywise>), Column('Lat', Float(), table=<countrywise>), Column('Long_', Float(), table=<countrywise>), Column('Combined_Key', String(), table=<countrywise>), Column('Date', String(), table=<countrywise>), schema=None), 'usacountry': Table('usacountry', MetaData(), Column('id', Integer(), table=<usacountry>, primary_key=True, nullable=False), Column('UID', Integer(), table=<usacountry>), Column('iso2', String(), table=<usacountry>), Column('iso3', String(), table=<usacountry>), Column('code3', Integer(), table=<usacountry>), Column('FIPS', Float(), table=<usacountry>), Column('Admin2', String(), table=<usacountry>), Column('Province_State', String(), table=<usacountry>), Column('Country_Region', String(), table=<usacountry>), Column('Lat', Float(), table=<usacountry>), Column('Long_', Float(), table=<usacountry>), Column('Combined_Key', String(), table=<usacountry>), Column('Date', String(), table=<usacountry>), Column('Confirmed', Integer(), table=<usacountry>), Column('Deaths', Integer(), table=<usacountry>), schema=None), 'clean': Table('clean', MetaData(), Column('id', Integer(), table=<clean>, primary_key=True, nullable=False), Column('Province_State', String(), table=<clean>), Column('Country_Region', String(), table=<clean>), Column('Lat', Float(), table=<clean>), Column('Long', Float(), table=<clean>), Column('Date', String(), table=<clean>), Column('Confirmed', Integer(), table=<clean>), Column('Deaths', Integer(), table=<clean>), Column('Recovered', Integer(), table=<clean>), Column('Active', Integer(), table=<clean>), Column('WHO_Region', String(), table=<clean>), schema=None), 'worldometer': Table('worldometer', MetaData(), Column('id', Integer(), table=<worldometer>, primary_key=True, nullable=False), Column('Country_Region', String(), table=<worldometer>), Column('Continent', String(), table=<worldometer>), Column('Population', Integer(), table=<worldometer>), Column('TotalCases', Integer(), table=<worldometer>), Column('NewCases', Integer(), table=<worldometer>), Column('TotalDeaths', Integer(), table=<worldometer>), Column('NewDeaths', Integer(), table=<worldometer>), Column('TotalRecovered', Integer(), table=<worldometer>), Column('NewRecovered', Integer(), table=<worldometer>), Column('ActiveCases', Integer(), table=<worldometer>), Column('Serious_Critical', Integer(), table=<worldometer>), Column('Tot_Cases_per_1M_pop', Integer(), table=<worldometer>), Column('Deaths_per_1M_pop', Integer(), table=<worldometer>), Column('TotalTests', Integer(), table=<worldometer>), Column('Tests_per_1M_pop', Integer(), table=<worldometer>), Column('WHO_Region', String(), table=<worldometer>), schema=None)})

In [15]:
Base = automap_base()
Base.prepare(engine,reflect=True)

In [16]:
Base.classes.keys()

['clean', 'countrywise', 'fullgrouped', 'usacountry', 'worldometer']

In [17]:
connection = sqlite3.connect('clean.sqlite')

In [18]:
cursor = connection.cursor()

In [19]:
with open("covid_19_clean_complete.csv","r") as file:
    contents = list(csv.reader(file))

In [20]:
with open("worldometer_data.csv","r") as file:
    contents2 = list(csv.reader(file))

In [21]:
with open("usa_county_wise.csv","r") as file:
    contents3 = list(csv.reader(file))

In [22]:
with open("full_grouped.csv","r") as file:
    contents4 = list(csv.reader(file))

In [23]:
insert_records_clean = "INSERT INTO clean (Province_State, Country_Region, Lat, Long, Date, Confirmed, Deaths, Recovered, Active, WHO_Region) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

In [24]:
insert_records_world= "INSERT INTO worldometer ('Country_Region','Continent','Population','TotalCases','NewCases','TotalDeaths','NewDeaths','TotalRecovered','NewRecovered','ActiveCases','Serious_Critical','Tot_Cases_per_1M_pop','Deaths_per_1M_pop','TotalTests','Tests_per_1M_pop','WHO_Region') VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

In [25]:
insert_records_usa = "INSERT INTO usacountry ('UID','iso2','iso3','code3','FIPS','Admin2','Province_State','Country_Region','Lat','Long_','Combined_Key','Date','Confirmed','Deaths') VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

In [34]:
insert_records_fullgrouped = "INSERT INTO fullgrouped ('Date', 'Country_Region', 'Confirmed', 'Deaths', 'Recovered', 'Active','New_cases', 'New_deaths', 'New_recovered', 'WHO_Region') VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

In [27]:
cursor.executemany(insert_records_clean, contents)

In [28]:
cursor.executemany(insert_records_world, contents2)

In [29]:
cursor.executemany(insert_records_usa, contents3)

In [35]:
cursor.executemany(insert_records_fullgrouped, contents4)

In [31]:
select_all = "SELECT * FROM clean"
rows = cursor.execute(select_all).fetchall()

In [32]:
select_all2 = "SELECT * FROM worldometer"
rows2 = cursor.execute(select_all2).fetchall()

In [33]:
select_all3 = "SELECT * FROM usacountry"
rows3 = cursor.execute(select_all3).fetchall()

In [36]:
select_all4 = "SELECT * FROM fullgrouped"
rows4 = cursor.execute(select_all4).fetchall()

In [ ]:
rows3

In [ ]:
rows2

In [ ]:
rows

In [37]:
connection.commit()